@use '~sprucecss/scss/spruce';

.layout-blog {
  padding-block: 0 clamp(spruce.spacer(l), 5vw, spruce.spacer(xl));

  &__inner {
    display: grid;
    gap: spruce.spacer(l);
    grid-template-columns: repeat(3, minmax(0, 2fr));
  }
}

.blog-card {
  &__thumbnail {
    border-radius: spruce.$border-radius-lg;
  }

  &__tags {
    column-gap: spruce.spacer(s);
    display: flex;
    flex-wrap: wrap;
  }

  &__meta {
    column-gap: spruce.spacer(m);
    display: flex;
    flex-wrap: wrap;
    row-gap: spruce.spacer(xs);
  }

  &__caption {
    margin-block-start: spruce.spacer(m);
  }

  &__title {
    font-size: spruce.font-size(h3);
    margin-block: 0;

    a {
      color: spruce.color(heading);
      text-decoration: none;
    }
  }
}
