@use '../spruce/scss/spruce';

.layout-documentation {
  padding: spruce.spacer(xl) 0;

  &__container {
    @include spruce.layout-center($gutter: clamp(spruce.spacer(m), 5vw, spruce.spacer(l)));
  }

  &__inner {
    display: grid;
    gap: spruce.spacer(l);
    grid-template-columns: minmax(0, 1fr);

    @include spruce.breakpoint(sm) {
      grid-template-columns: minmax(0, 15rem) minmax(0, 3.5fr);
    }
  }

  &__body {
    display: grid;
    column-gap: spruce.spacer(l);
    grid-auto-rows: min-content;
    grid-template-columns: minmax(0, 1fr);
    row-gap: spruce.spacer(m);
    
    @include spruce.breakpoint(lg) {
      grid-template-columns: minmax(0, 3.5fr) minmax(0, 15rem);
    }
  }

  &__table-of-content {
    @include spruce.breakpoint(lg) {
      grid-column: 2 / 3;
      order: 2;
    }
  }

  &__content {
    @include spruce.layout-stack(spruce.spacer(m));

    @include spruce.breakpoint(lg) {
      grid-column: 1 / 2;
    }

    > * + h2,
    > * + h3,
    > * + h4,
    > * + h5,
    > * + h6 {
      margin-top: spruce.spacer(l);
    }

    h2 {
      position: relative;
      
      &:hover {
        > a {
          opacity: 1;
        }
      }

      > a {
        font-size: 0.6em;
        font-weight: 400;
        line-height: 1;
        position: absolute;
        text-decoration: none;
        top: calc(50% - 0.45em);
        left: -1.2em;
        opacity: 0;

        &:focus {
          opacity: 1;
        }
      }
    }
  }

  &__title {
    font-size: spruce.responsive-font-size($size: 3.3rem, $scaler: 40);
    margin: 0;

    @include spruce.breakpoint(lg) {
      grid-column: 1 / 2;
    }
  }
}
