@use '../spruce/scss/spruce';

.layout-documentation {
  padding: spruce.spacer('xl') 0;

  &__container {
    @include spruce.layout-center;
  }

  &__inner {
    display: grid;
    gap: spruce.spacer('xxl');
    grid-template-columns: minmax(0, 1fr) minmax(0, 3fr) minmax(0, 1fr);
  }

  &__sections {
    @include spruce.layout-stack(spruce.spacer('xl'));
  }
}
