@use '~sprucecss/scss/spruce';

.layout-example {
  padding-block: 0 clamp(spruce.spacer(l), 5vw, spruce.spacer(xl));

  &__container {
    @include spruce.layout-center(
      clamp(spruce.spacer(m), 5vw, spruce.spacer(l))
    );
  }
}

.example-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: spruce.spacer(m);
}

.example-item {
  a {
    text-decoration: none;
  }

  &__thumbnail {
    border: 1px solid spruce.color(border);
    border-radius: spruce.$border-radius-lg;
  }

  &__title {
    font-size: spruce.font-size(h3);
    margin-block: 0;
  }

  &__links {
    @include spruce.clear-list;
  }
}
