@use '~sprucecss/scss/spruce';

.accordion-card {
  $this: &;

  background-color: spruce.color(background);
  border: 1px solid spruce.color(border);
  border-radius: spruce.$border-radius-sm;

  &__title {
    font-family: spruce.$font-family-base;
    font-size: spruce.font-size(h4);
    margin-block: 0;
  }

  &__toggle {
    @include spruce.clear-btn;
    align-items: center;
    display: flex;
    gap: spruce.spacer(m);
    justify-content: space-between;
    padding: spruce.spacer(m);
    text-align: start;
    width: 100%;

    &:focus-visible {
      svg {
        @include spruce.focus-ring(
          $type: spruce.$btn-focus-ring-type,
          $ring-color: spruce.color(primary),
          $ring-width: spruce.$btn-focus-ring-width,
          $ring-offset: spruce.$btn-focus-ring-offset
        );
      }
    }

    svg {
      --dimension: 1.75rem;

      background-color: spruce.color(primary);
      border-radius: spruce.$border-radius-sm;
      color: hsl(0 0% 100%);
      flex-shrink: 0;
      height: var(--dimension);
      width: var(--dimension);
    }

    &[aria-expanded='true'] .vertical-line {
      display: none;
    }
  }

  &__content {
    @include spruce.layout-stack(xs);
    padding-block: 0 spruce.spacer(m);
    padding-inline: spruce.spacer(m);
  }
}
