@use '~sprucecss/scss/spruce';

.accordion-list {
  &--boxed {
    @include spruce.layout-stack(s);
  }

  &--stacked {
    > * + * {
      border-block-start: 1px solid spruce.color(border);
    }
  }
}
