@use '~sprucecss/scss/spruce' as *;

.accordion-card {
  $this: &;

  background-color: color('background');
  border: 1px solid color('border');
  border-radius: config('border-radius-sm', $display);

  &__title {
    font-family: config('font-family-base', $typography);
    font-size: font-size('h4');
    margin-block: 0;
  }

  &__toggle {
    @include clear-btn;
    align-items: center;
    display: flex;
    gap: spacer('m');
    justify-content: space-between;
    padding: spacer('m');
    text-align: start;
    width: 100%;

    &:focus-visible {
      svg {
        @include focus-ring(
          $type: config('focus-ring-type', $btn),
          $ring-color: color('primary'),
          $ring-width: config('focus-ring-width', $btn),
          $ring-offset: config('focus-ring-offset', $btn),
        );
      }
    }

    svg {
      --dimension: 1.75rem;

      background-color: color('primary');
      border-radius: config('border-radius-sm', $display);
      color: hsl(0deg 0% 100%);
      flex-shrink: 0;
      height: var(--dimension);
      width: var(--dimension);
    }

    &[aria-expanded='true'] .vertical-line {
      display: none;
    }
  }

  &__content {
    @include layout-stack('xs');
    padding-block: 0 spacer('m');
    padding-inline: spacer('m');
  }
}
