@use 'sass:color';
@use '~sprucecss/scss/spruce';

.prism-code-wrapper {
  position: relative;
}

.prism-code {
  $this: &;

  border-radius: spruce.$border-radius-sm;
  overflow: hidden;

  &__language {
    background-color: spruce.color(primary);
    border-radius: 0 0 spruce.$border-radius-sm spruce.$border-radius-sm;
    color: #fff;
    display: inline-block;
    font-family: var(--spruce-documentation-heading-font-family);
    font-size: spruce.$font-size-sm;
    font-weight: 500;
    left: spruce.spacer(m);
    line-height: 1;
    padding: 0.4em 0.6em;
    position: absolute;
    text-transform: uppercase;
    top: 0;
  }

  &__copy-btn {
    align-items: center;
    background-color: color.scale(spruce.color(primary, $only-color: true), $lightness: -30%);
    display: flex;
    font-size: 1rem;
    height: 2rem;
    justify-content: center;
    inset: -0.75rem -0.75rem auto auto;
    padding: 0;
    position: absolute;
    width: 2rem;

    &:hover {
      background-color: color.scale(spruce.color(primary, $only-color: true), $lightness: -10%);
    }

    .icon {
      display: inline-flex;
      font-size: 0.85em;
      line-height: 1;

      svg {
        color: #fff;
        height: 1rem;
        width: 1rem;
      }
    }
  }

  > code {
    background-color: transparent;
    display: grid;
    font-size: 1rem;
    overflow-x: auto;
    padding: 2.5rem spruce.spacer(m) spruce.spacer(m);
  }
}
