@use '~sprucecss/scss/spruce';

.code-highlighter {
  border: 1px solid spruce.color(border);
  border-radius: spruce.$border-radius-sm;
  overflow: hidden;

  &__header {
    align-items: center;
    background-color: spruce.color(header-background, code-highlighter);
    border-block-end: 1px solid spruce.color(border);
    border-start-start-radius: spruce.$border-radius-sm;
    border-start-end-radius: spruce.$border-radius-sm;
    display: flex;
    flex-wrap: wrap;
    gap: spruce.spacer(xs) spruce.spacer(m);
    justify-content: space-between;
    padding: spruce.spacer(s);
  }

  &__title {
    font-size: spruce.font-size(h5);
    margin-block: 0;
  }

  &__open-new {
    font-size: spruce.$font-size-sm;
    line-height: 1;
  }

  &__group {
    align-items: center;
    display: flex;
    gap: spruce.spacer(xxs) spruce.spacer(xs);

    &--column {
      align-items: flex-start;
      flex-direction: column;
    }
  }
}
