@use 'sprucecss/scss/spruce' as *;

.cookie-consent {
  align-items: center;
  background-color: color('background', 'cookie');
  color: color('foreground', 'cookie');
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  padding: spacer('m');
  z-index: 1;

  &__body {
    p {
      margin: 0;
    }
  }

  &__btns {
    display: flex;
    gap: 1rem;
  }
}
