@use '~sprucecss/scss/spruce';

.cta {
  background-image: linear-gradient(
    45deg,
    hsl(262deg 71% 49%) 0%,
    hsl(247deg 71% 55%) 11%,
    hsl(232deg 75% 55%) 22%,
    hsl(219deg 86% 48%) 33%,
    hsl(213deg 100% 45%) 44%,
    hsl(211deg 100% 45%) 56%,
    hsl(208deg 100% 45%) 67%,
    hsl(205deg 100% 44%) 78%,
    hsl(202deg 100% 43%) 89%,
    hsl(203deg 71% 49%) 100%
  );
  background-image: linear-gradient(
    250deg,
    hsl(345deg 100% 42%) 0%,
    hsl(16deg 65% 53%) 19%,
    hsl(36deg 62% 53%) 27%,
    hsl(58deg 54% 51%) 34%,
    hsl(78deg 66% 58%) 41%,
    hsl(95deg 50% 61%) 47%,
    hsl(135deg 40% 60%) 53%,
    hsl(168deg 53% 47%) 59%,
    hsl(187deg 57% 42%) 66%,
    hsl(209deg 49% 45%) 73%,
    hsl(228deg 54% 44%) 81%,
    hsl(235deg 79% 38%) 100%
  );
  padding-block: spruce.get-css-variable(--section-gap-half);

  &__inner {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: spruce.spacer(l);
    justify-content: space-between;
  }

  &__caption {
    @include spruce.layout-stack(s);
  }

  .heading {
    margin-block-end: 0;
  }

  * {
    color: #fff !important;
  }

  p {
    font-size: 1.2rem;
    max-width: 55ch;
  }
}
