@use '../spruce/scss/spruce';

.docs-cards {
  // margin-bottom: clamp(spruce.spacer(xxl), 6vw, spruce.spacer(xxxl));
  overflow-x: auto;
  margin-bottom: spruce.spacer(xl);

  &__container {
    @include spruce.layout-center;
  }

  &__inner {
    @include spruce.layout-grid(3rem, 20rem);
  }
}

.docs-card {
  background-color: #fff;
  border: 2px solid black;
  border-radius: 1.25rem;
  // color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 20rem;
  padding: spruce.spacer(l);
  transition: 0.1s ease-in-out;

  @media (prefers-reduced-motion: reduce) {
      transition: none;
  }

  &__serial-number {
    color: #e9dcff;
    color: spruce.color(secondary);
    color: spruce.color(primary);
    font-family: var(--spruce-documentation-heading-font-family);
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
  }

  &__title {
    // color: #fff;
    font-family: var(--spruce-documentation-heading-font-family);
    font-size: spruce.font-size(h3);
    margin: spruce.spacer(m) 0 0;
  }
}
