@use '../spruce/scss/spruce';

.docs-cards {
  // margin-bottom: clamp(spruce.spacer(xxl), 6vw, spruce.spacer(xxxl));
  margin-bottom: 3rem;
  margin-left: 2rem;
  overflow-x: auto;

  &__container {
  }

  &__inner {
    display: flex;
    padding: 2rem 0;

    .docs-card {
      min-width: 20rem;
      width: 20rem;
      
      @include spruce.breakpoint(md) {
          min-width: 24rem;
          width: 24rem;
      }

      &:not(:first-child) {
          margin-left: -10rem;
  
          @media (pointer: coarse) {
              margin-left: 0;
          }
      }
      
      @media (pointer: coarse) {
          margin-right: 2rem;
      }

      @media (pointer: fine) {
          &:hover:not(:last-child),
          &:focus:not(:last-child) {
              box-shadow: 0 0 0.75rem rgba(0, 0, 0, 0.1);
              transform: translateY(-1rem) rotate(2deg);
  
              ~ .docs-card {
                  transform: translateX(9rem);
              }
          }
      }
    }
  }
}

.docs-card {
  background-color: #fff;
  border: 2px solid black;
  border-radius: 1.5rem;
  // color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 20rem;
  padding: spruce.spacer(l);
  transition: 0.1s ease-in-out;

  @media (prefers-reduced-motion: reduce) {
      transition: none;
  }

  &__serial-number {
    color: #e9dcff;
    font-family: spruce.$font-family-heading;
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
  }

  &__title {
    // color: #fff;
    font-family: spruce.$font-family-heading;
    margin: spruce.spacer(m) 0 0;
  }
}
