@use '~sprucecss/scss/spruce';

.docs-cards {
  margin-bottom: spruce.spacer(xl);

  &__container {
    @include spruce.layout-center(clamp(spruce.spacer(m), 5vw, spruce.spacer(l)));
  }

  &__inner {
    @include spruce.layout-grid(spruce.spacer(l), 20rem);
  }
}

.docs-card {
  $this: &;

  background-color: spruce.color(background);
  border: 1px solid #d4dbe9;
  border-radius: 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 20rem;
  padding: clamp(spruce.spacer(m), 7vw, spruce.spacer(l));
  text-decoration: none;
  transition: 0.1s ease-in-out;

  &:hover,
  &:focus {
    background-color: spruce.color(primary);
    border-color: spruce.color(primary);

    #{$this}__serial-number,
    #{$this}__title {
      color: #fff;
    }
  }

  @media (prefers-reduced-motion: reduce) {
      transition: none;
  }

  &__serial-number {
    color: spruce.color(primary);
    font-family: var(--spruce-documentation-heading-font-family);
    font-size: spruce.responsive-font-size(4rem, 30, '4vw + 1rem');
    font-weight: 700;
    line-height: 1;
  }

  &__title {
    font-family: var(--spruce-documentation-heading-font-family);
    margin: spruce.spacer(m) 0 0;
  }
}
