@use '../spruce/scss/spruce';

.footer {
  border-top: 1px solid rgba(0, 0, 0, 0.075);
  padding: spruce.get-spacer('xxl') 0;

  &__container {
    @include spruce.layout-center;
  }

  &__top {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: calc(var(--spruce-gap-x) * 2);
    row-gap: var(--spruce-gap-y);
    align-items: start;

    @include spruce.breakpoint(sm) {
      grid-template-columns: 1fr 1fr;
    }

    @include spruce.breakpoint(md) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }

  &__logo {
    display: inline-flex;
    height: 1.75rem;
  }

  &__title {
    // font-family: 'PT Serif', sans-serif;
    margin: 0 0 1rem;
    font-size: spruce.get-font-size('h4');
  }

  &__navigation {
    margin: 0;
    padding: 0;
    list-style: none;

    li + li {
      margin-top: 0.5rem;
    }

    a {
      color: var(--spruce-color-gray);
      text-decoration: none;

      &:hover,
      &:focus,
      &:active {
        color: hsl(var(--spruce-color-primary));
      }
    }
  }

  &__scroll-to-top {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(var(--spruce-color-secondary));
    height: 2.8rem;
    width: 2.8rem;
    border-radius: 0 0 var(--spruce-border-radius-small) var(--spruce-border-radius-small);
    color: #fff;

    &:hover,
    &:focus {
      background-color: hsl(var(--spruce-color-secondary-dark));
    }
  }

  &__bottom {
    margin-top: 4rem;
    padding-top: 2rem;

    @include spruce.breakpoint(md) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .footer__navigation {
      display: flex;
      flex-wrap: wrap;

      li {
        margin: 0 2rem 0 0;
      }
    }
  }

  &__copyright {
    margin: 1rem 0 0 0;
    color: var(--spruce-color-gray);

    @include spruce.breakpoint(md) {
      margin: 0;
    }
  }
}
