@use '../spruce/scss/spruce';

.footer {
  padding: spruce.spacer(xxl) 0;

  &__container {
    @include spruce.layout-center($gutter: clamp(spruce.spacer(m), 5vw, spruce.spacer(l)));
  }

  &__top {
    @include spruce.layout-grid(spruce.spacer(l), 14rem);
  }

  &__logo {
    display: inline-flex;
    height: 1.75rem;

    .letter,
    .icon {
      fill: rgba(0, 0, 0, 0.15) !important; 
    }
  }

  &__title {
    margin: 0;
    font-size: spruce.font-size(h4);
  }

  &__navigation {
    margin: spruce.spacer(m) 0;
    padding: 0;
    list-style: none;

    li + li {
      margin-top: 0.5rem;
    }

    a {
      color: spruce.color(text);
      text-decoration: none;

      &:hover,
      &:focus,
      &:active {
        color: spruce.color(primary);
      }

      &[aria-current='page'] {
        color: spruce.color(primary);
        font-weight: 700;
      }
    }
  }

  &__bottom {
    margin-top: spruce.spacer(l);
    padding-top: spruce.spacer(m);

    @include spruce.breakpoint(md) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .footer__navigation {
      display: flex;
      flex-wrap: wrap;
      gap: spruce.spacer(l);

      li {
        margin: 0;
      }
    }
  }

  &__copyright {
    align-items: center;
    display: flex;
    gap: spruce.spacer(s);
    color: var(--spruce-color-gray);
  }

  &__cone-logo {
    align-items: center;
    display: inline-flex;
    height: 0.8rem;
    margin-right: spruce.spacer(xs);

    svg {
      height: 100%;
      width: auto;
    }
  }
}
