@use '../spruce/scss/spruce';

.footer {
  // border-top: 1px solid rgba(0, 0, 0, 0.05);
  padding: spruce.spacer(xxl) 0;

  &__container {
    @include spruce.layout-center;
  }

  &__top {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: calc(var(--spruce-gap-x) * 2);
    row-gap: var(--spruce-gap-y);
    align-items: start;

    @include spruce.breakpoint(sm) {
      grid-template-columns: 1fr 1fr;
    }

    @include spruce.breakpoint(md) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }

  &__logo {
    display: inline-flex;
    height: 1.75rem;

    .letter,
    .icon {
      fill: rgba(0, 0, 0, 0.15) !important; 
    }
  }

  &__title {
    margin: 0 0 1rem;
    font-size: spruce.font-size(h4);
  }

  &__navigation {
    margin: 0;
    padding: 0;
    list-style: none;

    li + li {
      margin-top: 0.5rem;
    }

    a {
      color: var(--spruce-color-gray);
      text-decoration: none;

      &:hover,
      &:focus,
      &:active {
        color: hsl(var(--spruce-color-primary));
      }
    }
  }

  &__bottom {
    margin-top: 4rem;
    padding-top: 2rem;

    @include spruce.breakpoint(md) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .footer__navigation {
      display: flex;
      flex-wrap: wrap;

      li {
        margin: 0 2rem 0 0;
      }
    }
  }

  &__copyright {
    align-items: center;
    display: flex;
    margin: 1rem 0 0 0;
    color: var(--spruce-color-gray);

    @include spruce.breakpoint(md) {
      margin: 0;
    }
  }

  &__cone-logo {
    align-items: center;
    display: inline-flex;
    height: 0.8rem;
    margin-right: spruce.spacer(xs);

    svg {
      height: 100%;
      width: auto;
    }
  }
}
