@use '~sprucecss/scss/spruce';

.getting-started {
  border-bottom: 1px solid spruce.color(border);
  padding-block: 3rem;

  &__inner {
    align-items: flex-start;
    @include spruce.layout-grid(l, 20rem);
  }
}

.faq {
  padding-block: spruce.get-css-variable(--section-gap-half) spruce.get-css-variable(--section-gap);
}
