@use '~sprucecss/scss/spruce';

.getting-started {
  &--mbe {
    margin-block-end: spruce.spacer(xxl);
  }

  &__inner {
    --columns: 1;

    display: grid;
    gap: spruce.spacer(l);
    grid-template-columns: repeat(var(--columns), minmax(0, 2fr));

    @include spruce.breakpoint(sm) { --columns: 2; }
    @include spruce.breakpoint(md) { --columns: 3; }
  }
}
