@use '~sprucecss/scss/spruce' as *;

.getting-started {
  padding-block: 3rem;

  &--border-block-end {
    border-block-end: 1px solid color(border);
  }

  &--border-block-start {
    border-block-start: 1px solid color(border);
  }

  &__inner {
    align-items: flex-start;
    @include layout-grid(l, 20rem);
  }
}

.faq {
  padding-block: get-css-variable(--section-gap-half) get-css-variable(--section-gap);
}
