@use '~sprucecss/scss/spruce';

.heading {
  @include spruce.layout-stack(spruce.spacer(m));
  margin-block-end: spruce.spacer(l);

  &__title {
    font-size: spruce.responsive-font-size(2.4rem);
    margin-block: 0;
  }
}
