@use '../spruce/scss/spruce';

.header {
  &__container {
    @include spruce.layout-center;
  }

  &__inner {
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    display: flex;
    gap: 2rem; 
    justify-content: space-between;
    height: 5rem;
  }

  &__logo {
    align-items: center;
    display: flex;

    a {
      display: inline-flex;
    }

    svg {
      bottom: -0.1em;
      height: 1.75rem;
      position: relative;
      width: auto;
    }
  }

  &__slogen {
    border-left: 1px solid rgba(0, 0, 0, 0.05);
    line-height: 1;
    margin-left: spruce.spacer('m');
    padding-left: spruce.spacer('m');
  }

  &__navigation {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;

    ul {
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      margin: 0;
      padding: 0;
    }

    li + li {
      margin: 0 0 0 2rem;
    }

    a {
      color: spruce.color('heading');
      text-decoration: none;

      &[aria-current='page'] {
        font-weight: 700;
      }

      &:hover,
      &:focus {
        color: spruce.color('primary');
      }
    }
  }
}
