@use '../spruce/scss/spruce';

.header-wrapper {
  // background-color: spruce.get-color('primary-darkest');
  // background: linear-gradient(0, rgb(157 0 255 / 4%), transparent);
}

.header {
  &__container {
    @include spruce.layout-center;
  }

  &__inner {
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    height: 5rem;
  }

  &__logo {
    align-items: center;
    display: flex;

    a {
      display: inline-flex;
    }

    svg {
      bottom: -0.1em;
      height: 1.75rem;
      position: relative;
      width: auto;
    }
  }

  &__slogen {
    border-left: 1px solid rgba(0, 0, 0, 0.05);
    // font-weight: 600;
    line-height: 1;
    margin-left: 1.5rem;
    padding-left: 1.5rem;
    // text-transform: uppercase;
  }

  &__navigation {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;

    ul {
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      margin: 0;
      padding: 0;
    }

    li {
      width: auto;
    }

    li + li {
      margin: 0 0 0 2rem;
    }

    a {
      color: #fff;
      color: spruce.get-color('heading');
      text-decoration: none;

      &:hover,
      &:focus {
        color: spruce.get-color('primary');
      }
    }
  }
}
