@use 'sass:color';
@use '../spruce/scss/spruce';

.hero {
  &__container {
    @include spruce.layout-center;
  }

  &__inner {
    align-items: center;
    display: grid;
    gap: 2rem;
    grid-template-columns: minmax(0, 1fr);
    padding: clamp(spruce.spacer('xxl'), 6vw, spruce.spacer('xxxl')) 0;

    @include spruce.breakpoint(md) {
      gap: 4rem;
      grid-template-columns: minmax(0, 1.5fr) minmax(0, 1fr);
    }
  }

  &__caption {
    @include spruce.layout-stack(spruce.spacer('s'));
  }

  &__image {
    order: -1;
    max-width: 10rem;

    @include spruce.breakpoint(md) {
      order: 2;
      max-width: none;
    }
  }

  &__logo {
    height: 3rem;
  }

  &__title {
    font-size: clamp(spruce.font-size('h1'), 5vw, 3.5rem);
    max-width: 50ch;
  }

  &__description {
    font-size: spruce.font-size('h4');
    line-height: 1.6;
    margin: spruce.spacer('m') 0 0;
    max-width: 50ch;
    margin-top: 1rem;
  }

  &__btns {
    margin-top: 1.5rem;
    display: flex;
    align-items: center;

    > * {
      margin-right: spruce.spacer('m');
    }
  }

  .btn {
    padding: spruce.spacer('s');

    &__icon {
      height: 0.9rem;
      width: 0.9rem;
      margin-right: 0.5rem;
    }
  }

  .install-btn {
    background-color: rgba(0, 0, 0, 0.05);
    color: spruce.color('heading');
  }
}
