@use 'sass:color';
@use 'sprucecss/scss/spruce' as *;

.hero-wrapper {
  background: linear-gradient(
    0deg,
    color('gradient-start', 'hero') 0%,
    color('gradient-end', 'hero') 100%
  );
}

.hero {
  &__inner {
    align-items: center;
    display: grid;
    gap: spacer-clamp('l', 'xl');
    grid-template-columns: minmax(0, 1fr);
    padding-block: get-css-variable(--section-gap-half) get-css-variable(--section-gap);

    @include breakpoint('md') {
      grid-template-columns: minmax(0, 1fr) minmax(0, 1.2fr);
      padding-block-start: 0;
    }
  }

  &__image {
    animation: rotate infinite 100s linear;
    animation-direction: alternate;
    margin-inline: auto;
    max-inline-size: 13.5rem;
    order: -1;

    @include breakpoint('md') {
      max-inline-size: 100%;
      order: 2;
    }
  }

  &__caption {
    text-align: center;

    @include breakpoint('md') {
      padding-block: get-css-variable(--section-gap-half);
      text-align: start;
    }
  }

  &__note {
    background-color: color('note-background', 'hero');
    border-radius: config('border-radius-sm', $display);
    color: color('note-color', 'hero');
    display: inline-flex;
    font-size: 1rem;
    line-height: config('line-height-md', $typography);
    margin-block-end: 1.5rem;
    padding: 0.5em 1em;
    text-decoration: none;

    &:hover,
    &:focus {
      color: color('note-color', 'hero');
    }
  }

  &__title {
    font-size: responsive-font-size(4.5rem, 35, '4vw + 1rem');
    font-weight: 400;
    letter-spacing: -3px;
    margin-block: 0;
    max-inline-size: 50ch;

    span {
      font-weight: 700;
    }
  }

  &__description {
    font-size: responsive-font-size(1.35rem, 30, '1vw + 1rem');
    margin-block: 1.25rem 0;
    max-inline-size: 60ch;
  }

  &__btns {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: spacer('m');
    justify-content: center;
    margin-top: 2.15rem;

    @include breakpoint('md') {
      justify-content: start;
    }
  }
}

@keyframes rotate {
  0% {
      transform: rotate(-15deg);
  }

  50% {
      transform: rotate(0deg);
  }

  100% {
      transform: rotate(15deg);
  }
}
