@use 'sass:color';
@use '../spruce/scss/spruce';

.hero {
  &__container {
    @include spruce.layout-center($gutter: clamp(spruce.spacer(m), 5vw, spruce.spacer(l)));
  }

  &__inner {
    --gap: 2rem;
    align-items: center;
    display: grid;
    gap: var(--gap);
    grid-template-columns: minmax(0, 1fr);
    justify-content: center;
    padding: clamp(spruce.spacer(xl), 6vw, 7rem) 0;
    text-align: center;

    @include spruce.breakpoint(md) {
      --gap: 4rem;
      grid-template-columns: minmax(0, 1.25fr) minmax(0, 1fr);
      justify-content: flex-start;
      text-align: left;
    }
  }

  &__image {
    margin-left: auto;
    margin-right: auto;
    max-width: 22rem;
    order: -1;

    @include spruce.breakpoint(md) {
      max-width: none;
      order: 2;
    }
  }

  &__caption {
    align-items: center;
    display: flex;
    flex-direction: column;

    @include spruce.breakpoint(md) {
      align-items: flex-start;
    }
  }

  &__logo {
    height: 3rem;
  }

  &__title {
    font-size: spruce.responsive-font-size($size: 4.75rem, $scaler: 40);
    letter-spacing: -2px;
    line-height: 1;
    margin: 0;
    max-width: 50ch;

    .highlighted {
      color: spruce.color(primary);
      margin-left: -0.1em;
    }
  }

  &__description {
    font-size: clamp(spruce.$font-size-base, 5vw + 1rem, spruce.font-size(h4));
    margin: spruce.spacer(m) 0 0;
    max-width: 50ch;
    margin-top: 1rem;
  }

  &__btns {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1.5rem;

    > * {
      margin: spruce.spacer(xs); 
    
      @include spruce.breakpoint(md) {
        margin: spruce.spacer(xs) spruce.spacer(m) spruce.spacer(xs) 0; 
      }
    }
  }
}
