@use '~sprucecss/scss/spruce';

.ide-wrapper {
  margin-inline: auto;
  max-width: 74rem;
  padding-block-end: spruce.get-css-variable(--section-gap);
}

.ide {
  background-color: spruce.color(background);
  border: 1px solid spruce.color(border);
  border-radius: spruce.$border-radius-sm;
  box-shadow: 0 0 3rem hsl(0 0% 0% / 10%);
  font-size: 0.9375rem;
  margin-inline: auto;

  &__header {
    align-items: center;
    background-color: spruce.color(header-background, ide);
    border-radius: spruce.$border-radius-sm spruce.$border-radius-sm 0 0;
    border-bottom: 1px solid spruce.color(border);
    padding: 0.45rem 1.25rem;
    display: flex;
    gap: 1rem;
    color: #fff;
  }

  &__controls {
    display: flex;
    gap: 0.5rem;
  }

  &__control {
    --dimension: 0.75rem;
    border-radius: 50%;
    height: var(--dimension);
    width: var(--dimension);
  }

  &__inner {
    display: grid;
    grid-template-columns: minmax(0, 15rem) minmax(0, 1fr);
  }

  &__sidebar {
    @include spruce.layout-stack(s);
    padding: 2rem;
  }

  &__editor,
  .prism-code-wrapper,
  .prism-code {
    height: 100%;
    max-height: 28rem;
  }

  pre[class*=language-] {
    border-radius: 0 0 spruce.$border-radius-sm 0;
    padding: 2rem 2.25rem;
  }
}

.ide-section {
  display: flex;
  flex-direction: column;
  gap: 0.65em;

  &__title {
    align-items: center;
    display: flex;
    font-size: 0.9375rem;
    font-weight: 500;
    gap: spruce.spacer(xs);
    line-height: 1;
    margin-block: 0;

    svg {
      --dimension: 0.9rem;
      color: hsl(207deg 90% 61%);
      flex-shrink: 0;
      height: var(--dimension);
      width: var(--dimension);
    }
  }

  &__list {
    @include spruce.clear-list;
    @include spruce.layout-stack(0.75em);

    &--border {
      border-inline-start: 1px solid spruce.color(border);
      margin-inline-start: spruce.spacer(xs);
      padding-inline-start: spruce.spacer(s);
    }
  }

  button {
    @include spruce.clear-btn;
    align-items: center;
    display: flex;
    font-family: spruce.$font-family-heading;
    gap: spruce.spacer(xs);
    line-height: 1;

    &.active {
      font-weight: 500;
    }

    svg {
      --dimension: 0.85rem;
      color: hsl(330deg 53% 60%);
      flex-shrink: 0;
      height: var(--dimension);
      width: var(--dimension);
    }
  }
}
