@use '~sprucecss/scss/spruce';

.ide-container {
  padding-bottom: spruce.get-css-variable(--section-gap);
  margin-top: 4rem;
  border-bottom: 1px solid spruce.color(border);
}

.ide-wrapper {
  margin-inline: auto;
  max-width: 65rem;
}

.ide {
  background-color: #fff;
  border: 1px solid spruce.color(border);
  border-radius: spruce.$border-radius-sm;
  box-shadow: 0 0 3rem hsl(0 0% 0% / 10%);
  margin-inline: auto;

  &__header {
    align-items: center;
    background-color: hsl(261.91deg 70.82% 6.2%);
    border-radius: spruce.$border-radius-sm spruce.$border-radius-sm 0 0;
    border-bottom: 1px solid spruce.color(border);
    padding: 0.35rem 1.25rem;
    font-size: 1rem;
    display: flex;
    gap: 1rem;
    color: #fff;
  }

  &__controls {
    display: flex;
    gap: 0.5rem;
  }

  &__control {
    border-radius: 50%;
    height: 0.75rem;
    width: 0.75rem;
  }

  &__inner {
    display: grid;
    grid-template-columns: minmax(0, 15rem) minmax(0, 1fr);
  }

  &__sidebar {
    padding: 1.5rem;
    ul {
      @include spruce.clear-list;
    }

    li {
      font-size: 1rem;
    }
  }

  &__body {

  }
}
