@use '~sprucecss/scss/spruce';

.notification {
  $this: &;

  border-radius: spruce.$border-radius-sm;
  display: flex;
  font-size: 1rem;
  padding: spruce.spacer(s);

  code,
  kbd,
  samp {
    border: 1px solid;
  }

  &--wrong {
    background-color: rgba(spruce.color(danger, alert, true), 0.1);
    border-top: 0.5rem solid spruce.color(danger, alert);

    #{$this}__icon {
      color: spruce.color(danger, alert);
    }

    code,
    kbd,
    samp {
      border-color: rgba(spruce.color(danger, alert, true), 0.5);
    }
  }

  &--info {
    background-color: rgba(spruce.color(info, alert, true), 0.1);
    border-top: 0.5rem solid spruce.color(info, alert);

    #{$this}__icon {
      color: spruce.color(info, alert);
    }

    code,
    kbd,
    samp {
      border-color: rgba(spruce.color(info, alert, true), 0.5);
    }
  }

  &--correct {
    background-color: rgba(spruce.color(success, alert, true), 0.1);
    border-top: 0.5rem solid spruce.color(success, alert);

    #{$this}__icon {
      color: spruce.color(success, alert);
    }

    code,
    kbd,
    samp {
      border-color: rgba(spruce.color(success, alert, true), 0.5);
    }
  }

  &__icon {
    flex-shrink: 0;
    height: 1.25rem;
    margin-inline-end: 0.5rem;
    margin-top: 0.2rem;
    width: 1.25rem;
  }

  &__content {

  }
}
