@use 'sprucecss/scss/spruce' as *;

.page-heading {
  align-items: center;
  display: grid;
  gap: spacer('s');
  grid-template-columns: minmax(0, 1fr);
  justify-content: center;
  padding-block: clamp(spacer('l'), 10vw, 5rem) clamp(spacer('xl'), 10vw, 7rem);
  text-align: center;

  @include breakpoint('md') {
    grid-template-columns: minmax(0, 1fr) minmax(0, 1.25fr);
    justify-content: flex-start;
    text-align: start;
  }

  &__title {
    font-size: responsive-font-size(4rem, 40, '4vw + 1rem');
    letter-spacing: -2px;
    line-height: 1;
    margin-block: 0;
    max-inline-size: 50ch;
  }

  &__caption {
    align-items: center;
    display: flex;
    flex-direction: column;

    @include breakpoint('md') {
      align-items: flex-start;
    }
  }

  &__description {
    font-size: responsive-font-size(1.25rem, 30, '1vw + 0.75rem');
    margin: spacer('m') 0 0;
    margin-block: 0;
    max-inline-size: 50ch;
  }

  &__btns {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: spacer('s');
    margin-block-start: spacer('xs');
  }
}
