@use '../spruce/scss/spruce';

.page-alert {
  background-color: spruce.color('info', 'alert');
  font-size: 1rem;

  &__container {
    @include spruce.layout-center;
  }

  &__inner {
    padding: spruce.spacer(s) 0;
  }

  p {
    color: #fff;
    font-weight: 700;
    line-height: spruce.$line-height-md;
    margin: 0;
  }
}
