@use '~sprucecss/scss/spruce';

.post-navigation {
  align-items: center;
  border-block-start: 1px solid rgba(0, 0, 0, 0.05);
  display: flex;
  flex-wrap: wrap;
  gap: spruce.spacer(m);
  justify-content: space-between;
  margin-block-start: spruce.spacer(xl);
  padding-block-start: spruce.spacer(m);
}

.post-navigation-item {
  $this: &;

  align-items: center;
  display: flex;
  gap: spruce.spacer(s);
  text-decoration: none;

  &:hover {
    #{$this}__icon {
      background-color: spruce.color(primary);
      color: #fff;
    }
  }

  &--next {
    margin-inline-start: auto;
    text-align: right;
  }

  &__icon {
    align-items: center;
    background-color: spruce.color(primary-lightest);
    border-radius: 1rem;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    height: 3rem;
    transition: all var(--#{spruce.setting(prefix)}-transition-duration) var(--#{spruce.setting(prefix)}-transition-timing-function);
    width: 3rem;

    svg {
      height: 1rem;
      width: 1rem;
    }
  }

  &__caption {
    color: spruce.color(text);
    line-height: spruce.$line-height-md;
  }

  &__title {
    color: spruce.color(primary);
    display: block;
    font-weight: 700;
  }
}
