@use '~sprucecss/scss/spruce';

.preview {
  @include spruce.layout-stack(spruce.spacer(m));
  border: 1px solid spruce.color(border);
  border-radius: spruce.$border-radius-sm;
  font-size: 1rem;
  padding: spruce.spacer(m);

  > * {
    font-family: spruce.$font-family-base;
  }
}

.button-grid {
  align-items: flex-start;
  display: flex;
  gap: spruce.spacer(m);

  &--stacked {
    flex-wrap: wrap;
  }
}

.inline-text-element-list {
  @include spruce.clear-list;
  @include spruce.layout-stack(spruce.spacer(s));

  @include spruce.breakpoint(sm) {
    column-gap: spruce.spacer(l);
    columns: 2 auto;
  }
}
