@use '../spruce/scss/spruce';

.preview {
  border: 1px solid rgba(0, 0, 0, 0.075);
  border-radius: spruce.$border-radius-sm;

  &__html {
    @include spruce.layout-stack(spruce.spacer('m'));

    padding: spruce.spacer('l');

    > * {
      font-family: spruce.$font-family-base;
    }
  }

  .prism-code {
    border-top: 1px solid rgba(0, 0, 0, 0.075);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin: 0;
  }
}
