@use '~sprucecss/scss/spruce' as *;

.preview {
  font-size: 1rem;
  @include layout-stack(
    spacer(m),
    $important: true
  );

  > * {
    font-family: config('font-family-base', $typography);
  }

  ul > li > p {
    margin-block: 0;
  }
}

.button-grid {
  align-items: flex-start;
  display: flex;
  gap: spacer(m);

  &--stacked {
    flex-wrap: wrap;
  }
}

.inline-text-element-list {
  @include clear-list;
  @include layout-stack(spacer(s));

  @include breakpoint(sm) {
    column-gap: spacer(l);
    columns: 2 auto;
  }
}
