@use 'sprucecss/scss/spruce' as *;

.prism-code-wrapper {
  font-size: 0.9375rem;
  overflow: hidden;
  position: relative;
}

.prism-code {
  &__language {
    border-radius: 0 0 config('border-radius-sm', $display) config('border-radius-sm', $display);
    color: color('comment', 'prism');
    display: inline-block;
    font-family: var(--doc-heading-font-family);
    font-size: 0.6rem;
    font-weight: 500;
    inset: 1rem 1rem auto auto;
    line-height: 1;
    pointer-events: none;
    position: absolute;
    text-transform: uppercase;
  }
}

code[class*='language-'],
pre[class*='language-'] {
  color: color('color', 'prism');
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  hyphens: none;
  line-height: 1.65;
  tab-size: 4;
  text-align: left;
  white-space: pre;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
}

@media print {
  code[class*='language-'],
  pre[class*='language-'] {
    text-shadow: none;
  }
}

/* Code blocks */
pre[class*='language-'] {
  border-radius: config('border-radius-sm', $display);
  display: grid;
  margin-block: 0;
  overflow: auto;
  padding: spacer('m');
}

pre[class*='language-'] code {
  background-color: transparent;
  padding: 0;
}

:not(pre) > code[class*='language-'],
pre[class*='language-'] {
  background: color('background', 'prism');
  overflow-x: auto;
}

.token.comment,
.token.prolog,
.token.cdata {
  color: color('comment', 'prism');
  font-style: italic;
}

.token.punctuation {
  color: color('punctuation', 'prism');
}

.namespace {
  color: color(namespace, prism);
}

.token.deleted {
  color: color(deleted, prism);
  font-style: italic;
}

.token.symbol,
.token.operator,
.token.keyword,
.token.property {
  color: color(namespace, prism);
}

.token.tag {
  color: color(punctuation, prism);
}

.token.boolean {
  color: color(boolean, prism);
}

.token.number {
  color: color(number, prism);
}

.token.constant,
.token.builtin,
.token.string,
.token.url,
.token.entity,
.language-css .token.string,
.style .token.string,
.token.char {
  color: color(constant, prism);
}

.token.selector,
.token.function,
.token.doctype {
  color: color(punctuation, prism);
  font-style: italic;
}

.token.attr-name,
.token.inserted {
  color: color(constant, prism);
  font-style: italic;
}

.token.class-name,
.token.atrule {
  color: color(class-name, prism);
}

.token.regex,
.token.important,
.token.variable {
  color: color(regex, prism);
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}
