@use '~sprucecss/scss/spruce';

.prism-code-wrapper {
  overflow: hidden;
  position: relative;
}

.prism-code {
  &__language {
    border-radius: 0 0 spruce.$border-radius-sm spruce.$border-radius-sm;
    color: spruce.color(comment, prism);
    display: inline-block;
    font-family: var(--doc-heading-font-family);
    font-size: 0.6rem;
    font-weight: 500;
    inset: 1rem 1rem auto auto;
    line-height: 1;
    pointer-events: none;
    position: absolute;
    text-transform: uppercase;
  }
}

code[class*='language-'],
pre[class*='language-'] {
  color: spruce.color(color, prism);
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  hyphens: none;
  line-height: 1.5;
  tab-size: 4;
  text-align: left;
  white-space: pre;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
}

@media print {
  code[class*='language-'],
  pre[class*='language-'] {
    text-shadow: none;
  }
}

/* Code blocks */
pre[class*='language-'] {
  border-radius: spruce.$border-radius-sm;
  display: grid;
  margin-block: 0;
  overflow: auto;
  padding: spruce.spacer(m);
}

pre[class*='language-'] code {
  background-color: transparent;
  padding: 0;
}

:not(pre) > code[class*='language-'],
pre[class*='language-'] {
  background: spruce.color(background, prism);
  overflow-x: auto;
}

.token.comment,
.token.prolog,
.token.cdata {
  color: spruce.color(comment, prism);
  font-style: italic;
}

.token.punctuation {
  color: spruce.color(punctuation, prism);
}

.namespace {
  color: spruce.color(namespace, prism);
}

.token.deleted {
  color: spruce.color(deleted, prism);
  font-style: italic;
}

.token.symbol,
.token.operator,
.token.keyword,
.token.property {
  color: spruce.color(namespace, prism);
}

.token.tag {
  color: spruce.color(punctuation, prism);
}

.token.boolean {
  color: spruce.color(boolean, prism);
}

.token.number {
  color: spruce.color(number, prism);
}

.token.constant,
.token.builtin,
.token.string,
.token.url,
.token.entity,
.language-css .token.string,
.style .token.string,
.token.char {
  color: spruce.color(constant, prism);
}

.token.selector,
.token.function,
.token.doctype {
  color: spruce.color(punctuation, prism);
  font-style: italic;
}

.token.attr-name,
.token.inserted {
  color: spruce.color(constant, prism);
  font-style: italic;
}

.token.class-name,
.token.atrule {
  color: spruce.color(class-name, prism);
}

.token.regex,
.token.important,
.token.variable {
  color: spruce.color(regex, prism);
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}
