@use '~sprucecss/scss/spruce' as *;
@use '../mixins' as *;

.sidebar {
  @include layout-stack('l');
  @include scrollbar(
    color('thumb-background', 'scrollbar'),
    color('thumb-background-hover', 'scrollbar'),
    color('track-background', 'scrollbar'),
    0.5rem,
    0.15rem
  );
  inset-block-start: 2rem;
  overflow-y: auto;
  padding-inline-end: spacer('m');
}

.sidebar-section {
  &__title {
    @include sidebar-title;
  }

  &__navigation {
    border-inline-start: 1px solid color('border');
    font-size: 1rem;
    margin-block-start: 1rem;
    padding-inline-start: 1rem;

    ul {
      @include clear-list;
    }

    a {
      color: color('text');
      text-decoration: none;

      &[aria-current='page'] {
        @include sidebar-active-menu-marker;
      }
    }
  }
}
