@use '~sprucecss/scss/spruce';
@use '../mixins/title';

.sidebar {
  position: relative;
  
  @include spruce.breakpoint(sm) {
    border-inline-end: 1px solid rgba(0, 0, 0, 0.05);
    padding-inline-end: spruce.spacer(m);
  }

  > * + * {
    margin-top: 3rem;
  }
}

.sidebar-section {
  &__title {
    @include title.sidebar;
  }

  &__navigation {
    margin: 1rem 0 0;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    a {
      color: spruce.color(text);
      text-decoration: none;

      &[aria-current='page'] {
        position: relative;
        font-weight: 700;
        color: spruce.color(heading);

        &::before {
          background-color: spruce.color(primary);
          content: '';
          width: 0.5rem;
          border-radius: spruce.$border-radius-sm;
          position: absolute;
          top: 0;
          bottom: 0;
          inset-inline-start: -1.25rem;
        }
      }
    }
  }
}
