@use '../config/dark-colors' as dark;
@use '~sprucecss/scss/spruce' as *;

.site-footer {
  background-color: color(background, footer);
  color: hsl(0deg 0% 100% / 85%);
  font-size: 1rem;

  a {
    color: color(link, $only-color: true, $map: dark.$colors);

    &:hover,
    &:focus {
      color: color(link-hover, $only-color: true, $map: dark.$colors);
    }
  }

  &__slogen {
    color: hsl(0deg 0% 100%);
    font-family: var(--doc-heading-font-family);
    font-size: responsive-font-size(3rem, 30, '4vw + 1rem');
    font-weight: 700;
    grid-auto-rows: auto;
    line-height: calc(#{config('line-height-heading', $typography)} * 1.15);
    margin-block: 0 2rem;
  }

  &__top {
    --gtc: minmax(0, 1fr);
    display: grid;
    gap: spacer(l);
    grid-template-columns: var(--gtc);
    padding-block: get-css-variable(--section-gap);

    @include breakpoint(md) {
      --gtc: minmax(0, 2.5fr) repeat(3, minmax(0, 1fr));
    }
  }

  &__logo {
    display: inline-flex;
    height: 2.5rem;
    opacity: 0.15;
  }

  &__title {
    color: hsl(0 0% 100%);
    font-size: font-size(h4);
    margin-block: 0 spacer(m);
  }

  &__navigation {
    @include clear-list;
    @include layout-stack(spacer(xs));
    font-size: 1rem;

    a {
      color: hsl(0 0% 100% / 85%);
      text-decoration: none;

      &:hover,
      &:focus,
      &:active,
      &[aria-current='page'] {
        color: color(link-hover, $only-color: true, $map: dark.$colors);
      }

      &[aria-current='page'] {
        font-weight: 700;
      }
    }
  }

  &__bottom {
    border-block-start: 1px solid color(border, $only-color: true, $map: dark.$colors);
    padding-block: spacer(m);

    @include breakpoint(md) {
      align-items: center;
      display: flex;
      justify-content: space-between;
    }
  }

  &__cone-logo {
    align-items: center;
    display: inline-flex;
    height: 0.9rem;
    margin-inline-end: spacer(xs);

    svg {
      height: 100%;
      width: auto;
    }
  }

  &__information-wrapper {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: spacer(s);
  }
}
