@use '~sprucecss/scss/spruce';

.site-header {
  &__inner {
    align-items: center;
    display: flex;
    gap: clamp(#{spruce.spacer(xs)}, 3vw, #{spruce.spacer(l)});
    height: 5rem;
    justify-content: space-between;
    position: relative;
  }

  &__logo {
    align-items: center;
    display: flex;

    a {
      display: inline-flex;
    }

    svg {
      bottom: -0.1em;
      height: 1.75rem;
      position: relative;
      width: auto;
    }
  }

  &__slogan {
    @include spruce.clear-btn;
    cursor: default;
    display: none;
    user-select: none;

    @include spruce.breakpoint(sm) {
      border-inline-start: 1px solid spruce.color(border);
      display: inline;
      font-family: spruce.$font-family-heading;
      line-height: 1;
      margin-inline-start: spruce.spacer(m);
      padding-inline-start: spruce.spacer(m);
    }
  }

  &__toggle {
    @include spruce.breakpoint(md) {
      display: none;
    }

    &[aria-expanded='true'] + ul {
      display: flex;
    }
  }

  &__navigation {
    align-items: center;
    display: flex;
    flex-grow: 1;
    font-family: spruce.$font-family-heading;
    justify-content: flex-end;

    @include spruce.breakpoint(md) {
      justify-content: center;
    }

    ul {
      @include spruce.clear-list;
      background-color: spruce.color(background);
      border-top: 1px dashed spruce.color(border);
      column-gap: spruce.spacer(l);
      display: none;
      flex-direction: column;
      flex-wrap: wrap;
      inset: 100% 0 auto 0;
      padding-block: spruce.spacer(m);
      position: absolute;
      row-gap: spruce.spacer(m);
      z-index: 10;

      @include spruce.breakpoint(md) {
        background-color: transparent;
        border: 0;
        display: flex;
        flex-direction: row;
        inset: auto;
        padding-block: 0;
        position: relative;
      }
    }

    li {
      line-height: 1;
      margin-block-start: 0;
    }

    a {
      color: spruce.color(heading);
      text-decoration: none;

      &[aria-current='page'] {
        color: spruce.color(primary);
        font-weight: 700;
      }

      &:hover,
      &:focus {
        color: spruce.color(primary);
      }
    }
  }

  &__actions {
    display: flex;
    gap: spruce.spacer(s);

    .btn--twitter {
      display: none;

      @include spruce.breakpoint(md) {
        display: inline-flex;
      }
    }
  }
}
