@use '~sprucecss/scss/spruce';

.site-footer {
  font-size: 1rem;
  padding-block: spruce.spacer(xxl);

  &__top {
    @include spruce.layout-grid(spruce.spacer(l), 14rem);
  }

  &__logo {
    display: inline-flex;
    height: 1.75rem;
  }

  &__title {
    font-size: spruce.font-size(h4);
    margin-block: 0 spruce.spacer(m);
  }

  &__navigation {
    @include spruce.clear-list;
    @include spruce.layout-stack(spruce.spacer(s));
    font-size: 1rem;

    a {
      color: spruce.color(text);
      text-decoration: none;

      &:hover,
      &:focus,
      &:active,
      &[aria-current='page'] {
        color: spruce.color(primary);
      }

      &[aria-current='page'] {
        font-weight: 700;
      }
    }
  }

  &__bottom {
    padding-block-start: spruce.spacer(l);

    @include spruce.breakpoint(md) {
      align-items: center;
      display: flex;
      justify-content: space-between;
    }
  }

  &__cone-logo {
    align-items: center;
    display: inline-flex;
    height: 0.9rem;
    margin-inline-end: spruce.spacer(xs);

    svg {
      height: 100%;
      width: auto;
    }
  }

  &__information-wrapper {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: spruce.spacer(s);
  }

  strong {
    color: spruce.color(heading);
  }
}
