@use '~sprucecss/scss/spruce' as *;

.site-header {
  &__inner {
    align-items: center;
    display: flex;
    gap: spacer-clamp('xs', 'l', 3vw);
    height: 5rem;
    justify-content: space-between;
    position: relative;

    @include breakpoint('md') {
      height: 6rem;
    }
  }

  &__logo {
    align-items: center;
    display: flex;
    position: relative;

    a {
      display: inline-flex;
    }

    svg {
      bottom: -0.1em;
      height: 1.75rem;
      position: relative;
      width: auto;
    }

    &--ui {
      svg {
        height: 2.14rem;
      }
    }
  }

  &__slogan {
    @include clear-btn;
    cursor: default;
    display: none;
    user-select: none;

    @include breakpoint('sm') {
      border-inline-start: 1px solid color(border);
      display: inline;
      font-family: var(--doc-body-font-family);
      line-height: 1;
      margin-inline-start: spacer('m');
      padding-inline-start: spacer('m');
    }
  }

  &__toggle {
    @include breakpoint('md') {
      display: none;
    }

    &[aria-expanded='true'] + ul {
      display: flex;
    }
  }

  &__navigation {
    align-items: center;
    display: flex;
    flex-grow: 1;
    font-family: var(--doc-body-font-family);
    justify-content: flex-end;

    @include breakpoint('md') {
      justify-content: flex-start;
    }

    ul {
      @include clear-list;
      background-color: color('background');
      border-block-start: 1px dashed color(border);
      column-gap: spacer('l');
      display: none;
      flex-direction: column;
      flex-wrap: wrap;
      inset: 100% 0 auto;
      padding-block: spacer('m');
      position: absolute;
      row-gap: spacer('m');
      z-index: 10;

      @include breakpoint('md') {
        background-color: transparent;
        border: 0;
        display: flex;
        flex-direction: row;
        inset: auto;
        padding-block: 0;
        position: relative;
      }
    }

    li {
      line-height: 1;
      margin-block-start: 0;
    }

    a {
      color: color('heading');
      text-decoration: none;

      &[aria-current='page'] {
        color: color('primary');
        font-weight: 700;
      }

      &:hover,
      &:focus {
        color: color('primary');
      }
    }
  }

  &__actions {
    display: flex;
    gap: spacer('s');

    .btn--twitter {
      display: none;

      @include breakpoint('md') {
        display: inline-flex;
      }
    }
  }
}
