@use '~sprucecss/scss/spruce' as *;
@use '../mixins' as *;

.toc {
  @include breakpoint('lg') {
    @include scrollbar(
      color('thumb-background', 'scrollbar'),
      color('thumb-background-hover', 'scrollbar'),
      color('track-background', 'scrollbar'),
      0.5rem
    );
    max-height: calc(100vh - 4rem);
    overflow-x: hidden;
    overflow-y: auto;
  }

  &__title {
    @include sidebar-title;
  }

  &__navigation {
    border-inline-start: 1px solid color('border');
    margin-block-start: 1rem;
    padding-inline-start: 1rem;

    ol {
      @include clear-list;
      @include layout-stack('xs');

      max-width: 95%;

      ol {
        margin-block-start: spacer('xs');
        margin-inline-start: spacer('s');

        .active::before {
          inset-inline-start: -2rem;
        }
      }
    }

    a {
      color: color(text);
      display: inline-flex;
      line-height: config('line-height-md', $typography);
      text-decoration: none;

      &:hover {
        color: color('primary');
      }
    }
  }
}
