@use '../spruce/scss/spruce';
@use '../mixins/title';

.toc {
  position: sticky;
  top: 2rem;

  &__title {
    @include title.sidebar;
  }

  &__navigation {
    margin: 1rem 0 0;

    ul {
      @include spruce.layout-stack(spruce.spacer(xs));

      list-style: none;
      margin: 0;
      padding: 0;
    }

    a {
      color: spruce.color(text);
      display: inline-flex;
      line-height: spruce.$line-height-md;
      text-decoration: none;

      &:hover,
      &:focus {
        color: spruce.color(primary);
      }
    }
  }
}
