@use 'sprucecss/scss/spruce' as *;

.text-btn {
  align-items: center;
  display: inline-flex;
  gap: spacer('xxs');
  line-height: 1;

  &__icon {
    --dimension: 0.65em;
    block-size: var(--dimension);
    inline-size: var(--dimension);
  }
}
