@use '~sprucecss/scss/spruce';

.theme-switcher {
  color: spruce.color(text);
  display: inline-flex;
  position: relative;

  &__icon {
    align-items: center;
    color: spruce.color(heading);
    display: flex;
    inset: 0 auto 0 0;
    justify-content: center;
    pointer-events: none;
    position: absolute;
    width: 2rem;

    &--system .system { display: inline-block; }
    &--light .light { display: inline-block; }
    &--dark .dark { display: inline-block; }

    svg {
      --dimension: 1rem;

      display: none;
      height: var(--dimension);
      width: var(--dimension);
    }
  }

  &__select {
    padding-inline-start: 2rem;
  }
}
