@use '~sprucecss/scss/spruce';

@include spruce.generate-color-variables(
  spruce.$dark-colors,
  ':root[data-theme-mode="dark"]'
);

[data-theme-mode='dark'] {
  color-scheme: dark;

  select.form-control:not([multiple]):not([size]) {
    @include spruce.field-icon(
      spruce.$select-image,
      spruce.color(primary, $only-color: true)
    );
  }

  .post-navigation-item {
    $this: &;

    &:hover {
      .post-navigation-item__icon {
        background-color: hsl(207 23% 26%);
        color: hsl(0 0% 100%);
      }
    }

    &__icon {
      background-color: hsl(207 39% 17%);
      color: hsl(0 0% 100%);
    }
  }
}
