@use 'sprucecss/scss/spruce';

.post-heading {
  text-align: center;
  margin-block: 8rem spruce.spacer(xl);

  &__inner {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: spruce.spacer(s);
  }

  &__title {
    font-size: spruce.responsive-font-size(4.5rem, 50, '5vw + 1rem');
    margin-block: 0;
  }

  &__meta {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    column-gap: spruce.spacer(m);
    justify-content: center;
    margin-block-start: spruce.spacer(l);
    row-gap: spruce.spacer(xs);
  }
}

.breadcrumb-list {
  @include spruce.clear-list;
  align-items: center;
  display: flex;
  overflow-x: auto;
  max-width: 100%;
  white-space: nowrap;

  > li {
    align-items: center;
    display: inline-flex;
    margin-block: 0;

    + li::before {
      border-bottom: 2px solid spruce.color(arrow, breadcrumb);
      border-right: 2px solid spruce.color(arrow, breadcrumb);
      content: '';
      display: inline-flex;
      height: 0.4em;
      margin-inline: 0.75em;
      transform: rotate(-45deg);
      width: 0.4em;
    }
  }

  [aria-current='page'] {
    @include spruce.text-ellipsis(1);
    display: inline-flex;
    text-align: start;
    width: 20ch;
  }
}
