.post-content {
  font-size: 1.0375rem;
}
.post-content > * {
  margin-block-end: 0;
  margin-block-start: 0;
}
.post-content > * + * {
  margin-block-start: 1.5rem;
}
.post-content :is(dd, dl, dl, h1, h2, h3, h4, h5, h6, hr, ul, ol, p, blockquote) {
  margin-inline: auto;
  max-width: 40rem;
}
.post-content * + h1,
.post-content * + h2,
.post-content * + h3,
.post-content * + h4,
.post-content * + h5,
.post-content * + h6 {
  margin-top: 3rem;
}
.post-content h1 + *,
.post-content h2 + *,
.post-content h3 + *,
.post-content h4 + *,
.post-content h5 + *,
.post-content h6 + * {
  margin-top: 1rem;
}
.post-content img,
.post-content iframe {
  border-radius: 0.425rem;
}
