.post-heading {
  text-align: center;
  margin-block: 8rem 4.5rem;
}
.post-heading__inner {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
.post-heading__title {
  font-size: clamp(2.25rem, 5vw + 1rem, 4.5rem);
  margin-block: 0;
}
.post-heading__meta {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  column-gap: 1.5rem;
  justify-content: center;
  margin-block-start: 3rem;
  row-gap: 0.5rem;
}
