.site-header {
  position: relative;
  z-index: 10;
}
.site-header__inner {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: clamp(1.5rem, 2vw + 1rem, 3rem);
  justify-content: space-between;
  padding-block: 1.5rem;
}
.site-header__column {
  align-items: center;
  display: flex;
  flex-grow: 1;
  gap: clamp(1.5rem, 3vw, 3rem);
}
.site-header__actions {
  align-items: center;
  display: flex;
  gap: clamp(1.5rem, 3vw, 3rem);
}
.site-header__logo {
  --dimension: 3.5rem;
  display: inline-flex;
  height: var(--dimension);
  width: var(--dimension);
}
@media (min-width: 64em) {
  .site-header__logo {
    --dimension: 4rem;
  }
}
.site-header__email {
  display: none;
  font-size: clamp(0.881875rem, 2vw + 1rem, 1.0375rem);
  text-decoration: none;
}
@media (min-width: 48em) {
  .site-header__email {
    display: inline-block;
  }
}
