@use '~sprucecss/scss/spruce' as *;

.doc-card {
  $this: &;

  @include a11y-card-link('.doc-card__link', true);

  background-color: color(background);
  border: 1px solid color(card-border);
  border-radius: var(--doc-border-radius-sm);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 20rem;
  padding: clamp(spacer(m), 7vw, spacer(l));
  text-decoration: none;
  transition-duration: transition(duration);
  transition-property: all;
  transition-timing-function: transition(timing-function);

  &:hover,
  &:focus {
    background-color: color(primary);
    border-color: color(primary);

    #{$this}__serial-number,
    #{$this}__link {
      color: hsl(0 0% 100%);
    }
  }

  &__serial-number {
    color: color(primary);
    font-family: var(--doc-heading-font-family);
    font-size: responsive-font-size(4rem, 30, '4vw + 1rem');
    font-weight: 700;
    line-height: 1;
  }

  &__title {
    font-family: var(--doc-heading-font-family);
    margin-block: spacer(m) 0;
  }

  &__link {
    color: color(heading);
    text-decoration: none;
  }
}
