@use '~sprucecss/scss/spruce';

.example-card {
  &__link {
    display: block;
    text-decoration: none;
  }

  &__thumbnail {
    border: 1px solid spruce.color(border);
    border-radius: spruce.$border-radius-sm;
  }

  &__caption {
    margin-block-start: spruce.spacer(m);
  }

  &__title {
    font-size: spruce.font-size(h3);
    margin-block: 0;

    a {
      color: spruce.color(heading);
    }
  }

  &__description {
    color: spruce.color(text);
    margin-block: spruce.spacer(xs) spruce.spacer(xxs);
  }

  &__links {
    @include spruce.clear-list;
  }
}
