@use 'sass:color';
@use '~sprucecss/scss/spruce' as *;

.getting-started-card {
  $this: &;

  @include a11y-card-link('.getting-started-card__link', true);

  align-items: flex-start;
  background-color: color('background');
  border-radius: config('border-radius-lg', $display);
  display: flex;
  gap: spacer('m');

  &__caption {
    @include layout-stack('xs');
  }

  &__icon {
    --dimension: 5rem;

    flex-shrink: 0;
    height: var(--dimension);
    width: var(--dimension);
  }

  &__link {
    font-size: config('font-size-sm', $typography);
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
  }
}
