@use '~sprucecss/scss/spruce';

.getting-started-card {
  $this: &;

  @include spruce.a11y-card-link('.getting-started-card__link', true);
  @include spruce.layout-stack(spruce.spacer(s));

  background-color: spruce.color(background);
  border: 1px solid spruce.color(card-border);
  border-radius: var(--doc-border-radius-sm);
  padding: clamp(spruce.spacer(m), 7vw, spruce.spacer(l));
  transition-duration: spruce.transition(duration);
  transition-property: all;
  transition-timing-function: spruce.transition(timing-function);

  &:hover,
  &:focus {
    background-color: spruce.color(primary);
    border-color: spruce.color(primary);
    color: hsl(0 0% 100%);

    #{$this}__link {
      color: hsl(0 0% 100%);
    }
  }

  &__icon {
    --dimension: 4rem;

    height: var(--dimension);
    width: var(--dimension);
  }

  &__link {
    color: spruce.color(heading);
    text-decoration: none;
  }
}
