@use 'sprucecss/scss/spruce' as *;

.template-card {
  @include layout-stack('xs');

  &__title {
    font-size: responsive-font-size(2.5rem, 25, '2vw + 1rem');
    margin-block-start: 2rem;

    a {
      color: color('heading');
      text-decoration: none;
    }
  }

  &__description {
    font-size: responsive-font-size(1.2rem, 17.5, '1vw + 0.55rem');
  }

  &__meta {
    column-gap: spacer('m');
    display: flex;
    flex-wrap: wrap;
    margin-block-start: spacer('s');
    row-gap: spacer('xs');
  }

  &__tags {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: spacer('s');
  }
}
