.accordion-list--boxed > * {
  margin-block-end: 0;
  margin-block-start: 0;
}
.accordion-list--boxed > * + * {
  margin-block-start: 1rem;
}
.accordion-list--stacked > * + * {
  border-block-start: 1px solid var(--spruce-base-color-border);
}
