.auth-form {
  margin-block: auto;
}
.auth-form > * {
  margin-block-end: 0;
  margin-block-start: 0;
}
.auth-form > * + * {
  margin-block-start: 1rem;
}

.form-group-stack > * {
  margin-block-end: 0;
  margin-block-start: 0;
}
.form-group-stack > * + * {
  margin-block-start: 1rem;
}
