.container {
  --spruce-container-width: 80rem;
  --spruce-container-gap: clamp(1.5rem, 5vw, 3rem);
  margin-inline: auto;
  max-width: var(--spruce-container-width);
  padding-inline: var(--spruce-container-gap);
}
.container--wide {
  --spruce-container-width: 100%;
}
.container--narrow {
  --spruce-container-width: 50rem;
}
