.cookie-consent {
  align-items: center;
  background-color: var(--spruce-base-color-background);
  border-block-end: 1px solid var(--spruce-base-color-border);
  gap: 1rem 1.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-block: 1.5rem;
  padding-inline: var(--spruce-container-gap);
  text-align: center;
}
.cookie-consent__caption > * {
  margin-block-end: 0;
  margin-block-start: 0;
}
.cookie-consent__caption > * + * {
  margin-block-start: 0.5rem;
}
.cookie-consent__btns {
  display: flex;
  gap: 1rem;
}
