.post-author {
  align-items: center;
  display: flex;
  gap: 0.5rem;
  text-decoration: none;
}
.post-author__avatar {
  border-radius: 1.25rem;
  height: 2.5rem;
  width: 2.5rem;
}
.post-author__name {
  color: var(--spruce-base-color-text);
}
