.site-navigation {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  margin-inline-start: auto;
}
@media (min-width: 64em) {
  .site-navigation {
    margin-inline-start: 0;
  }
}
@media (min-width: 64em) {
  .site-navigation__btn {
    display: none;
  }
}
.site-navigation__btn[aria-expanded=true] + ul {
  display: flex;
}
.site-navigation ul {
  background-color: var(--spruce-base-color-background);
  display: none;
  flex-direction: column;
  font-size: clamp(0.881875rem, 2vw + 1rem, 1.0375rem);
  gap: 1.5rem;
  inset: 6rem 0 auto 0;
  list-style: none;
  margin-block: 0;
  padding-block: 1.5rem;
  padding-inline: var(--spruce-container-gap);
  position: absolute;
}
@media (min-width: 64em) {
  .site-navigation ul {
    align-items: center;
    background-color: transparent;
    box-shadow: none;
    display: flex !important;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    inset: auto;
    margin-inline: 0;
    padding: 0;
    position: relative;
  }
}
@media (min-width: 80em) {
  .site-navigation ul {
    gap: 3rem;
  }
}
.site-navigation li {
  margin: 0;
}
.site-navigation a:not(.btn) {
  color: var(--spruce-base-color-heading);
  text-decoration: none;
}
