@use 'sprucecss/scss/spruce';

.post-author {
  align-items: center;
  display: flex;
  gap: spruce.spacer(xs);
  text-decoration: none;

  &__avatar {
    border-radius: 1.25rem;
    height: 2.5rem;
    width: 2.5rem;
  }

  &__name {
    color: spruce.color(text);
  }
}
