@use '~sprucecss/scss/spruce' as *;

.post-navigation {
  align-items: center;
  border-block-start: 1px solid color(border);
  display: flex;
  flex-wrap: wrap;
  gap: spacer(m);
  justify-content: space-between;
  margin-block-start: spacer(xl);
  padding-block-start: spacer(m);
}

.post-navigation-item {
  $this: &;

  align-items: center;
  display: flex;
  gap: spacer(s);
  text-decoration: none;

  &:hover {
    #{$this}__icon {
      background-color: color(primary);
      color: hsl(0 0% 100%);
    }
  }

  &--next {
    margin-inline-start: auto;
    text-align: right;
  }

  &__icon {
    align-items: center;
    background-color: color(primary-lightest);
    border-radius: config('border-radius-lg', $display);
    display: flex;
    flex-shrink: 0;
    height: 3rem;
    justify-content: center;
    transition: all var(--#{setting(prefix)}-transition-duration) var(--#{setting(prefix)}-transition-timing-function);
    width: 3rem;

    svg {
      --dimension: 1rem;

      height: var(--dimension);
      width: var(--dimension);
    }
  }

  &__caption {
    color: color(text);
    line-height: config('line-height-md', $typography);
  }

  &__title {
    color: color(primary);
    display: block;
    font-weight: 700;
  }
}
