@use '~sprucecss/scss/spruce' as *;

.post-content {
  @include layout-stack('m');

  @include breakpoint('lg') {
    font-size: 1.0375rem;
  }

  &--blog {
    > :is(dd, dl, dl, h1, h2, h3, h4, h5, h6, hr, ul, ol, p, blockquote, .prism-code-wrapper, .notification) {
      @include layout-center(
        null,
        45rem
      );
    }
  }

  * + h2,
  * + h3,
  * + h4,
  * + h5,
  * + h6 {
    margin-block-start: spacer-clamp('m', 'l');
  }

  h2 + h3 {
    margin-block-start: spacer('m');
  }

  .code-link {
    text-decoration: none;

    code {
      @include transition;
    }

    &:hover {
      code {
        background-color: color('primary');
        color: hsl(0deg 0% 100%);
      }
    }
  }

  img,
  iframe {
    border-radius: config('border-radius-sm', $display);
  }

  iframe {
    aspect-ratio: 16 / 10;
    height: auto;
    width: 100;
  }

  > .gatsby-image-wrapper:first-child + * {
    margin-block-start: spacer('l');
  }
}
