@use 'sprucecss/scss/spruce' as *;

.post-author {
  align-items: center;
  display: flex;
  gap: spacer('xs');
  text-decoration: none;

  &__avatar {
    --dimension: 2.5rem;
    block-size: var(--dimension);

    border-radius: calc(var(--dimension) / 2);
    inline-size: var(--dimension);
  }

  &__name {
    color: color('text');
  }
}
