@forward 'config';
@forward 'components';
@forward 'layouts';

@use 'sprucecss/scss/spruce' as *;

:root {
  @include set-css-variable((
    --section-gap: clamp(5rem, 8vw, 9rem),
    --section-gap-half: clamp(3.5rem, 8vw, 6rem),
  ));
}

body {
  --doc-heading-font-family: 'Figtree', sans-serif;
  --doc-body-font-family: 'Inter', sans-serif;
  --doc-border-radius-sm: 0.5rem;
  --doc-border-radius-md: 0.925rem;
  --doc-border-radius-lg: 2rem;

  background-color: color('background');
  font-family: var(--doc-body-font-family);
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--doc-heading-font-family);
}

.btn--rounded {
  border-radius: var(--doc-border-radius-md);
}

.btn--rounded:not(.btn--icon) {
  font-size: 0.91375rem;
  font-weight: 700;
  text-transform: uppercase;
}

.btn--rounded.btn--lg {
  padding: 1.05em 1.25em;

  @include breakpoint('md') {
    padding: 1.25em 1.5em;
  }
}

.btn--install { @include btn-variant('install'); }
.btn--decline { @include btn-variant('decline'); }
.btn--discrete { @include btn-variant('discrete'); }
.btn--dark { @include btn-variant('dark'); }

.table {
  &--font-size-reset {
    font-size: 1rem;
  }

  th,
  td {
    min-inline-size: 10rem;
  }
}
