@use 'spruce/scss/spruce' with (
  $colors: (
    'base': (
      'primary-darker': hsl(272, 100%, 9%)
    )
  ),
  $font-size-base: 1.0375rem,
  $container-width: 86rem,
  $font-family-base: #{'Poppins', sans-serif}
);

@use 'layout/documentation';

@use 'components/header';
@use 'components/footer';
@use 'components/sidebar';
@use 'components/table-of-content';

// @use 'components/hero';
// @use 'components/page-heading';
// @use 'components/section';
// @use 'components/dark-mode';
// @use 'components/footer';

body {
  background-color: spruce.get-color('background');
}
