@use 'sass:color';
@use 'sprucecss/scss/spruce';

.auth-screen {
  &__inner {
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    @include spruce.breakpoint(md) {
      align-items: center;
      flex-direction: row;
    }
  }

  &__sidebar {
    background-image: url('../img/background/marita-kavelashvili-ugnrXk1129g-unsplash.jpg');
    background-size: cover;
    height: 100%;
    padding: spruce.spacer(l);
    position: relative;
    z-index: 1;

    @include spruce.breakpoint(md) {
      inset: 0 auto 0 0;
      position: fixed;
      width: 30rem;
    }

    &::before {
      background-color: color.adjust(spruce.color(primary, $only-color: true), $lightness: -20%);
      content: '';
      inset: 0;
      opacity: 0.85;
      position: absolute;
      z-index: -1;
    }
  }

  &__form {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    padding: spruce.spacer(l);

    @include spruce.breakpoint(md) {
      margin-inline-start: 30rem;
      width: calc(100vw - 30rem);
    }
  }
}
