
<div class="accordion-card undefined">
  <h3 class="accordion-card__title">Why Make Another CSS Framework?</h3>
  <div class="accordion-card__content">
    <p>As you may know, there are many CSS frameworks (hundreds of them, and a lot of them are not maintained today). Everybody can choose one that suits their work style or project requirements. So why make another one? It is certainly not because we can do it better but because we want to do it our way. We want to be in control and make decisions.</p>
  </div>
</div>