<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Spruce UI - Post Author</title>
    <link rel="icon" href="http://localhost:3000/img/favicon.svg" type="image/svg+xml"/>
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="crossorigin"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&amp;family=Sora:wght@400;500;600;700&amp;display=swap"/>
    <link rel="stylesheet" href="http://localhost:3000/css/spruce.css?time=1663239436085"/>
    <link rel="stylesheet" href="http://localhost:3000/css/component/post-author.css?time=1663239436085"/>
    <style>
      body {
        align-items: center;
        display: flex;
        justify-content: center;
        padding-block: 6em;
        padding-inline: 1rem;
      }
      
    </style>
  </head>
  <body><a class="post-author" href="#"><img class="post-author__avatar" src="https://secure.gravatar.com/avatar/fd9479a898c593601efd2fe758a86dba?s=96&amp;d=mm&amp;r=g" alt="" aria-hidden="true" width="38" height="38"/><span class="post-author__name">by Adam Laki</span></a>
  </body>
</html>