@use '~sprucecss/scss/spruce';

.entry-content {
  @include spruce.layout-stack(spruce.spacer(m));

  > * + h2 {
    margin-top: spruce.spacer(l);
  }

  > * + h3,
  > * + h4,
  > * + h5,
  > * + h6 {
    margin-top: 2.25rem;
  }

  .code-link {
    text-decoration: none;

    code {
      transition: var(--#{spruce.setting(prefix)}-transition-duration) var(--#{spruce.setting(prefix)}-transition-timing-function);
    }

    &:hover {
      code {
        background-color: spruce.color(primary);
        color: #fff;
      }
    }
  }

  iframe,
  img {
    border-radius: spruce.$border-radius-sm;
  }
}
