@use '~sprucecss/scss/spruce';

.getting-started {
  margin-block-end: 5rem;

  &__inner {
    background-color: #EDE8F8;
    background-color: #f1f8ff;
    background-color: #eff4fd;
    border-radius: 2rem;
    padding: spruce.spacer(l);

    --columns: 1;

    display: grid;
    gap: spruce.spacer(l);
    grid-template-columns: repeat(var(--columns), minmax(0, 2fr));

    @include spruce.breakpoint(sm) { --columns: 2; }
    @include spruce.breakpoint(md) { --columns: 3; }

  }
}

.getting-started-card {
  @include spruce.layout-stack(spruce.spacer(s));
  &__icon {
    height: 3rem;
    width: 3rem;
  }
}
