@use '~sprucecss/scss/spruce';

.header {
  &__container {
    @include spruce.layout-center(clamp(spruce.spacer(m), 5vw, spruce.spacer(l)));
  }

  &__inner {
    align-items: center;
    display: flex;
    gap: spruce.spacer(s);
    justify-content: space-between;
    height: 5rem;
    position: relative;

    @include spruce.breakpoint(md) {
      gap: spruce.spacer(l);
    }
  }

  &__logo {
    align-items: center;
    display: flex;

    a {
      display: inline-flex;
    }

    svg {
      bottom: -0.1em;
      height: 1.85rem;
      position: relative;
      width: auto;
    }
  }

  &__slogan {
    display: none;

    @include spruce.breakpoint(sm) {
      border-inline-start: 1px solid spruce.color(border);
      display: inline;
      font-family: spruce.$font-family-heading;
      line-height: 1;
      margin-inline-start: spruce.spacer(m);
      padding-inline-start: spruce.spacer(m);

    }
  }

  &__toggle {
    align-items: center;
    border-radius: 1rem;
    justify-content: center;
    height: 2.75rem;
    padding: 0;
    width: 2.75rem;

    @include spruce.breakpoint(md) {
      display: none;
    }

    svg {
      height: 0.85rem;
      width: 0.85rem;
    }

    &[aria-expanded='true'] + ul {
      display: flex;
    }
  }

  &__navigation {
    align-items: center;
    display: flex;
    flex-grow: 1;
    font-family: spruce.$font-family-heading;
    justify-content: flex-end;

    ul {
      background-color: spruce.color(background);
      border-top: 1px dashed spruce.color(border);
      display: none;
      flex-direction: column;
      flex-wrap: wrap;
      left: 0;
      list-style: none;
      margin: 0;
      padding: spruce.spacer(s) 0;
      position: absolute;
      right: 0;
      top: 100%;
      z-index: 10;

      @include spruce.breakpoint(md) {
        border: 0;
        display: flex;
        flex-direction: row;
        left: auto;
        padding: 0;
        position: relative;
        right: auto;
        top: auto;
      }
    }

    li + li {
      margin-top: spruce.spacer(s);

      @include spruce.breakpoint(md) {
        margin-top: 0;
        margin-inline-start: 2.5rem;
      }
    }

    a {
      color: spruce.color(heading);
      text-decoration: none;

      &[aria-current='page'] {
        color: spruce.color(primary);
        font-weight: 700;
      }

      &:hover,
      &:focus {
        color: spruce.color(primary);
      }
    }
  }

  &__actions {
    display: flex;
    gap: spruce.spacer(s);

    .btn--twitter {
      display: none;

      @include spruce.breakpoint(md) {
        display: inline-flex;
      }
    }
  }
}
