@use '~sprucecss/scss/spruce';
@use '../mixin';

.sidebar {
  position: relative;

  @include spruce.breakpoint(sm) {
    border-inline-end: 1px solid spruce.color(border);
    padding-inline-end: spruce.spacer(m);
  }

  > * + * {
    margin-top: 3rem;
  }
}

.sidebar-section {
  &__title {
    @include mixin.sidebar-title;
  }

  &__navigation {
    font-size: 1rem;
    margin: 1rem 0 0;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    a {
      color: spruce.color(text);
      text-decoration: none;

      &[aria-current='page'] {
        @include mixin.sidebar-active-menu-marker;
      }
    }
  }
}
