@use '~sprucecss/scss/spruce';
@use '../mixin';

.toc {
  position: sticky;
  top: 2rem;

  @include spruce.breakpoint(lg) {
    @include spruce.scrollbar(
      spruce.color(thumb-background, scrollbar),
      spruce.color(thumb-background-hover, scrollbar),
      spruce.color(track-background, scrollbar),
      0.3rem
    );
    overflow-x: hidden;
    overflow-y: auto;
    max-height: calc(100vh - 4rem);
  }

  &__title {
    @include mixin.sidebar-title;
  }

  &__navigation {
    margin: 1rem 0 0;

    ol {
      @include spruce.layout-stack(spruce.spacer(xs));

      list-style: none;
      margin: 0;
      max-width: 95%;
      padding: 0;
    }

    a {
      color: spruce.color(text);
      display: inline-flex;
      line-height: spruce.$line-height-md;
      text-decoration: none;

      &:hover,
      &:focus {
        color: spruce.color(primary);
      }

      &.is-active {
        @include mixin.sidebar-active-menu-marker;
      }
    }
  }

  .heading-3 {
    margin-inline-start: spruce.spacer(s);
  }
}
