@use '~sprucecss/scss/spruce';

.theme-switcher {
  color: spruce.color(text);
  display: inline-flex;
  position: relative;

  &__icon {
    align-items: center;
    display: flex;
    inset: 0 auto 0 0;
    justify-content: center;
    pointer-events: none;
    position: absolute;
    width: 2rem;
    color: spruce.color(heading);

    &.is-system .is-system { display: inline-block; }
    &.is-light .is-light { display: inline-block; }
    &.is-dark .is-dark { display: inline-block; }

    svg {
      display: none;
      height: 1rem;
      width: 1rem;
    }
  }

  &__select {
    padding-inline-start: 2rem;
  }
}
