@use '~sprucecss/scss/spruce';

.l-blog {
  padding-block: 0 clamp(spruce.spacer(xl), 8vw, 7rem);

  &__inner {
    --columns: 1;

    display: grid;
    gap: spruce.spacer(l);
    grid-template-columns: repeat(var(--columns), minmax(0, 2fr));

    @include spruce.breakpoint(sm) { --columns: 2; }
    @include spruce.breakpoint(lg) { --columns: 3; }
  }
}
