@use '~sprucecss/scss/spruce';

.l-component {
  padding-block-end: spruce.spacer-clamp(l, xl);

  &__header {
    @include spruce.layout-stack(s);
    margin-block: spruce.spacer-clamp(xl, xxl);
    max-width: 70ch;
  }

  &__inner {
    display: grid;
    gap: spruce.spacer(l);
    grid-auto-rows: min-content;
    grid-template-columns: minmax(0, 1fr);

    @include spruce.breakpoint(sm) {
      grid-template-columns: minmax(0, 15rem) minmax(0, 1fr);
    }
  }

  &__body-helper {
    order: -1;

    @include spruce.breakpoint(sm) {
      order: 2;
    }
  }

  &__body {
    column-gap: spruce.spacer(xl);
    display: grid;
    grid-auto-rows: min-content;
    grid-template-columns: minmax(0, 1fr);
    row-gap: spruce.spacer(m);

    @include spruce.breakpoint(lg) {
      grid-template-columns: minmax(0, 1fr) minmax(0, 15rem);
    }
  }

  &__sidebar {
    @include spruce.breakpoint(md) {
      max-height: calc(100vh - 4rem);
      position: sticky;
    }
  }

  &__table-of-content {
    font-size: 1rem;

    @include spruce.breakpoint(lg) {
      grid-column: 2 / 3;
      order: 2;
    }
  }

  &__content {
    .post-content {
      margin-inline: auto;
      max-width: 45rem;
    }

    @include spruce.breakpoint(lg) {
      grid-column: 1 / 2;
    }
  }

  &__title {
    font-size: spruce.responsive-font-size(
      $size: 3.3rem,
      $scaler: 40,
      $optimal-size: '3vw + 1rem'
    );
    margin-block: 0;
  }

  &__code-tab {
    margin-block-end: spruce.spacer-clamp(l, xl);
  }
}
