@use '~sprucecss/scss/spruce' as *;

.container {
  --container-width: #{config('container-width', $layout)};
  --container-gap: #{spacer-clamp('m', 'l')};

  @include layout-center(
    var(--container-gap),
    var(--container-width)
  );

  &--narrow {
    --container-width: 60rem;
  }

  &--narrower {
    --container-width: 50rem;
  }
}
