@use 'sprucecss/scss/spruce' as *;

.container {
  --inline-size: #{config('container-inline-size', $layout)};
  --gap: #{spacer-clamp('m', 'l')};

  @include layout-center(
    var(--gap),
    var(--inline-size)
  );

  &--narrow {
    --inline-size: 60rem;
  }

  &--narrower {
    --inline-size: 50rem;
  }
}
