@use '~sprucecss/scss/spruce';

.l-documentation {
  padding-block: clamp(spruce.spacer(m), 5vw, spruce.spacer(l)) clamp(spruce.spacer(l), 5vw, spruce.spacer(xl));

  &__inner {
    display: grid;
    gap: spruce.spacer(l);
    grid-template-columns: minmax(0, 1fr);

    @include spruce.breakpoint(sm) {
      grid-template-columns: minmax(0, 15rem) minmax(0, 3.5fr);
    }
  }

  &__body-helper {
    order: -1;

    @include spruce.breakpoint(sm) {
      order: 2;
    }
  }

  &__body {
    column-gap: spruce.spacer(xl);
    display: grid;
    grid-auto-rows: min-content;
    grid-template-columns: minmax(0, 1fr);
    row-gap: spruce.spacer(m);

    @include spruce.breakpoint(lg) {
      grid-template-columns: minmax(0, 3.5fr) minmax(0, 15rem);
    }
  }

  &__table-of-content {
    font-size: 1rem;

    @include spruce.breakpoint(lg) {
      grid-column: 2 / 3;
      order: 2;
    }
  }

  &__content {
    @include spruce.breakpoint(lg) {
      grid-column: 1 / 2;
    }
  }

  &__title {
    font-size: spruce.responsive-font-size(
      $size: 3.3rem,
      $scaler: 40,
      $optimal-size: '3vw + 1rem'
    );
    margin: 0;

    @include spruce.breakpoint(lg) {
      grid-column: 1 / 2;
    }
  }

  &__code-highlighter {
    grid-column: 1 / 3;
  }
}
