@use 'sass:color';
@use '~sprucecss/scss/spruce' as *;

.l-error-404 {
  &__inner {
    padding: clamp(spacer(xxl), 6vw, spacer(xxxl)) 0;
    text-align: center;
  }

  &__image {
    height: auto;
    max-width: 10rem;
  }

  &__caption {
    @include layout-stack(spacer(s), false);
    margin-block-start: spacer(m);
    margin-inline: auto;
    max-width: 45rem;
  }

  &__title {
    font-size: responsive-font-size(3.5rem, 30);
  }

  &__description {
    font-size: responsive-font-size(
      $size: 1.35rem,
      $scaler: 30,
      $optimal-size: '1vw + 1rem'
    );
    margin-block: spacer(s) 0;
  }

  &__btns {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: spacer(m);
    justify-content: center;
    margin-block-start: spacer(m);
  }
}
