@use '~sprucecss/scss/spruce';

.l-example {
  padding-block: 0 clamp(spruce.spacer(xl), 8vw, 7rem);

  &__inner {
    --columns: 1;
    display: grid;
    gap: spruce.spacer(l);
    grid-template-columns: repeat(var(--columns), minmax(0, 1fr));

    @include spruce.breakpoint(md) { --columns: 2; }
  }
}
