@use '~sprucecss/scss/spruce' as *;

.l-page {
  padding-block: clamp(spacer(l), 5vw, spacer(xl));

  &__container {
    @include layout-center(
      clamp(spacer(m), 5vw, spacer(l)),
      50rem
    );
  }

  &__title {
    font-size: responsive-font-size(3.3rem, 40, '3vw + 1rem');
    margin-block: 0;
  }

  &__meta {
    margin-block-start: spacer(xs);
  }
}
