@use 'sprucecss/scss/spruce' as *;

.l-page {
  padding-block: spacer-clamp('l', 'xl');

  &__container {
    @include layout-center(
      spacer-clamp('m', 'l'),
      50rem
    );
  }

  &__title {
    font-size: responsive-font-size(3.3rem, 40, '3vw + 1rem');
    margin-block: 0;
  }

  &__meta {
    margin-block-start: spacer('xs');
  }
}
